.model-upload-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.model-button{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.model-upload-content-upload{
    border-bottom: 1px solid;
    padding-bottom: 20px;
}